.main-container {
  padding: 5rem 2rem;
  display: flex;

  .left-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .7rem;
    h2 {
      font-size: 3.5rem;
      font-weight: 500;
      color: #262626;
    }
    p {
      width: 53%;
      font-size: 1.5rem;
      color: #262626;
      line-height: 2rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }
    h3 {
      display: flex;
      align-items: center;
      font-size: 1.15rem;
      color: #6c6969;
      span {
        margin-left: 0.5rem;
        font-size: 1.25rem;
        color: #262626;
        font-weight: 500;
        margin-right: .5rem;
      }
    }
  }
}
